## Broadcasting Operators

### Import the pandas library

In [35]:
import pandas as pd

### Load the CSV file from this [link](https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv) into a DataFrame and assign it to a variable named `nba`

In [36]:
nba=pd.read_csv("https://raw.githubusercontent.com/Prajwalk09/Data-Analysis-with-Pandas-and-Python/refs/heads/main/DataFrame-1/nba.csv")

### Display the first 5 rows of the DataFrame

In [37]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Add 5 to the values in the `'Age'` column of the `nba` DataFrame and display the result

In [38]:
nba["Age"]=nba["Age"] + 5
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,32.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,34.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,31.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,29.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,31.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,31.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create a new column `'Weight in Kilograms'` in the `nba` DataFrame by converting the values in the `'Weight'` column from pounds to kilograms (using the conversion factor 1 kg =  0.45 pound)

In [39]:
nba['Weight in Kilograms']=nba['Weight']*0.45
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0,81.00
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0,105.75
2,John Holland,Boston Celtics,30.0,SG,32.0,6-5,205.0,Boston University,NaN,92.25
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0,83.25
4,Jonas Jerebko,Boston Celtics,8.0,PF,34.0,6-10,231.0,NaN,5000000.0,103.95
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,31.0,6-3,203.0,Butler,2433333.0,91.35
454,Raul Neto,Utah Jazz,25.0,PG,29.0,6-1,179.0,NaN,900000.0,80.55
455,Tibor Pleiss,Utah Jazz,21.0,C,31.0,7-3,256.0,NaN,2900000.0,115.20
456,Jeff Withey,Utah Jazz,24.0,C,31.0,7-0,231.0,Kansas,947276.0,103.95
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Add a new column named `'Salary in Millions'` to the `nba` DataFrame by dividing the values in the `'Salary'` column by 1,000,000

In [40]:
nba['Salary in Millions']=nba['Salary']/1_000_000
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0,81.00,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0,105.75,6.796117
2,John Holland,Boston Celtics,30.0,SG,32.0,6-5,205.0,Boston University,NaN,92.25,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0,83.25,1.148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,34.0,6-10,231.0,NaN,5000000.0,103.95,5.000000

### Calculate and display the total number of missing values in each column of the `nba` DataFrame

In [41]:
nba.isnull().sum()

Name                    1
Team                    1
Number                  1
Position                1
Age                     1
Height                  1
Weight                  1
College                85
Salary                 12
Weight in Kilograms     1
Salary in Millions     12
dtype: int64

### Remove all rows where all values are missing from the `nba` DataFrame

In [44]:
nba=nba.dropna(how='all',axis=0)
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0,81.00,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0,105.75,6.796117
2,John Holland,Boston Celtics,30.0,SG,32.0,6-5,205.0,Boston University,NaN,92.25,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0,83.25,1.148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,34.0,6-10,231.0,NaN,5000000.0,103.95,5.000000
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,25.0,6-10,234.0,Kentucky,2239800.0,105.30,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,31.0,6-3,203.0,Butler,2433333.0,91.35,2.433333
454,Raul Neto,Utah Jazz,25.0,PG,29.0,6-1,179.0,NaN,900000.0,80.55,0.900000
455,Tibor Pleiss,Utah Jazz,21.0,C,31.0,7-3,256.0,NaN,2900000.0,115.20,2.900000
456,Jeff Withey,Utah Jazz,24.0,C,31.0,7-0,231.0,Kansas,947276.0,103.95,0.947276

### Remove rows from the `nba` DataFrame where either the `'College'` or `'Salary'` column has missing values

In [45]:
# Remove rows where 'College' or 'Salary' has missing values
nba = nba.dropna(subset=["College", "Salary"])

# Display the first few rows to verify
print(nba.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  30.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  30.0    6-6   235.0
3    R.J. Hunter  Boston Celtics    28.0       SG  27.0    6-5   185.0
6  Jordan Mickey  Boston Celtics    55.0       PF  26.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  30.0    7-0   238.0

         College     Salary  Weight in Kilograms  Salary in Millions
0          Texas  7730337.0                81.00            7.730337
1      Marquette  6796117.0               105.75            6.796117
3  Georgia State  1148640.0                83.25            1.148640
6            LSU  1170960.0               105.75            1.170960
7        Gonzaga  2165160.0               107.10            2.165160

### Fill the missing values in the `'Salary'` column of the `nba` DataFrame with 0

In [60]:
nba["Salary"] = nba["Salary"].fillna(0)
nba

C:\Users\Rajat Jain\AppData\Local\Temp\ipykernel_22252\3972118650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Salary"] = nba["Salary"].fillna(0)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0,81.00,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0,105.75,6.796117
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0,83.25,1.148640
6,Jordan Mickey,Boston Celtics,55.0,PF,26.0,6-8,235.0,LSU,1170960.0,105.75,1.170960
7,Kelly Olynyk,Boston Celtics,41.0,C,30.0,7-0,238.0,Gonzaga,2165160.0,107.10,2.165160
...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,28.0,6-8,206.0,Duke,1348440.0,92.70,1.348440
451,Chris Johnson,Utah Jazz,23.0,SF,31.0,6-6,206.0,Dayton,981348.0,92.70,0.981348
452,Trey Lyles,Utah Jazz,41.0,PF,25.0,6-10,234.0,Kentucky,2239800.0,105.30,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,31.0,6-3,203.0,Butler,2433333.0,91.35,2.433333
456,Jeff Withey,Utah Jazz,24.0,C,31.0,7-0,231.0,Kansas,947276.0,103.95,0.947276

### Fill the missing values in the `'College'` column of the `nba` DataFrame with the string `'No College'`

In [62]:
nba["College"]=nba["College"].fillna('No College')
nba

C:\Users\Rajat Jain\AppData\Local\Temp\ipykernel_22252\560314942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["College"]=nba["College"].fillna('No College')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,30.0,6-2,180.0,Texas,7730337.0,81.00,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,30.0,6-6,235.0,Marquette,6796117.0,105.75,6.796117
3,R.J. Hunter,Boston Celtics,28.0,SG,27.0,6-5,185.0,Georgia State,1148640.0,83.25,1.148640
6,Jordan Mickey,Boston Celtics,55.0,PF,26.0,6-8,235.0,LSU,1170960.0,105.75,1.170960
7,Kelly Olynyk,Boston Celtics,41.0,C,30.0,7-0,238.0,Gonzaga,2165160.0,107.10,2.165160
...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,28.0,6-8,206.0,Duke,1348440.0,92.70,1.348440
451,Chris Johnson,Utah Jazz,23.0,SF,31.0,6-6,206.0,Dayton,981348.0,92.70,0.981348
452,Trey Lyles,Utah Jazz,41.0,PF,25.0,6-10,234.0,Kentucky,2239800.0,105.30,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,31.0,6-3,203.0,Butler,2433333.0,91.35,2.433333
456,Jeff Withey,Utah Jazz,24.0,C,31.0,7-0,231.0,Kansas,947276.0,103.95,0.947276

### Display the data types of all columns in the `nba` DataFrame

In [68]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 456
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 364 non-null    object
 1   Team                 364 non-null    object
 2   Number               364 non-null    float64
 3   Position             364 non-null    object
 4   Age                  364 non-null    float64
 5   Height               364 non-null    object
 6   Weight               364 non-null    float64
 7   College              364 non-null    object
 8   Salary               364 non-null    float64
 9   Weight in Kilograms  364 non-null    float64
 10  Salary in Millions   364 non-null    float64
dtypes: float64(6), object(5)
memory usage: 34.1+ KB

<p style="color: blue; font-size: 16px; font-weight:bold">Note: The columns `'Number'`, `'Age'`, `'Weight'`, and `'Salary'` are of the `float` data type. You need to convert these columns to `int` type.</p>

### Create a list containing the column names `'Number'`, `'Age'`, `'Weight'`, and `'Salary'`, and convert the values in these columns to the `int` data type. After that, check the data types of all columns in the `nba` DataFrame

In [70]:
list=['Number','Age','Weight','Salary']
nba[list].astype(int)

     Number  Age  Weight   Salary
0         0   30     180  7730337
1        99   30     235  6796117
3        28   27     185  1148640
6        55   26     235  1170960
7        41   30     238  2165160
..      ...  ...     ...      ...
449       5   28     206  1348440
451      23   31     206   981348
452      41   25     234  2239800
453       8   31     203  2433333
456      24   31     231   947276

[364 rows x 4 columns]

In [71]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 456
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 364 non-null    object
 1   Team                 364 non-null    object
 2   Number               364 non-null    float64
 3   Position             364 non-null    object
 4   Age                  364 non-null    float64
 5   Height               364 non-null    object
 6   Weight               364 non-null    float64
 7   College              364 non-null    object
 8   Salary               364 non-null    float64
 9   Weight in Kilograms  364 non-null    float64
 10  Salary in Millions   364 non-null    float64
dtypes: float64(6), object(5)
memory usage: 34.1+ KB